<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>LuminaSpark &mdash; Check Existing Account</title>
       <link rel="icon" href="{% static 'Logo/Title Logo.png' %}">    <link rel="stylesheet" href="{% static 'Login/login.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
  </head>
  <body>
    <div class="container">
      <div class="wrapper">
        <div class="title"><span>Check Existing Account</span></div>
        <form method="post" action="{% url 'BANK:account_login' %}">
          {% csrf_token %}
          <div class="row">
            <i class="fas fa-envelope"></i>
              <input type="text" name="email_id" id="email_id" placeholder="Email ID" required>
          </div>
          <div class="row">
            <i class="fas fa-phone"></i>
            <input type="number" name="phone_number" id="phone_number" placeholder="Phone Number" required>
          </div>
            <div>
                {% if messages %}
                <div class="box-name" align="center">
                    {% for message in messages %}
                        {% if message.tags == 'error' %}
                            <p>{{ message }}</p>
                        {% endif %}
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            <div class="row button">
                <input type="submit" value="Check">
            </div>
            <div class="signup-link">
                <a href="{% url 'BANK:create_account' %}">Create New Account</a>
            </div>
        </form>
      </div>
    </div>
</body>
</html>
